
@{
    ViewBag.Title = "AboutUs";
}

<br />
<center><h3 class="header_style">О нас</h3></center>
<br />
<p>
    <span class="header_style">ProMax Design Studio</span> — Студия авторского дизайна интерьеров. Наша команда увлеченных своим делом профессионалов готова реализовать даже самые сложные проекты и создает исключительно авторские, и эксклюзивные дизайн-проекты. Они разрабатываются строго индивидуально, в полном соответствии вашим вкусам и пожеланиям, учитывая при этом актуальные тренды дизайна интерьера.

    Во главе каждого своего проекта мы ставим функциональность пространства, его повседневную эргономику и обязательно придерживаемся принципа достаточности. Важным отличием наших работ является использование только реальных материалов и текстур, декора и мебели, которые мы подбираем с учетом ваших предпочтений, в полном соответствии установленному бюджету. Сделать по-настоящему красивый и продуманный дизайн интерьера можно без необоснованных затрат, для этого нужно уметь находить оптимальное решение на каждом этапе его реализации.

    Многолетний опыт реализации абсолютно разных по сложности и стилю интерьеров умноженный на количество благодарных клиентов — вот тот бесценный опыт дизайнера, позволяющий достигать наилучших результатов.  Он поможем нам полностью преобразить вашу квартиру, дом или любое другое помещение, тщательно продумаем расположение каждой детали в интерьере. Варианты планировочных решений предоставят возможность взглянуть на свое жилье с разных сторон, учесть особенности каждой комнаты и, при необходимости, правильно перераспределить внутреннее пространство. В вашем распоряжении будут наши лучшие идеи, наша помощь в правильном выборе при комплектации объекта и его проектировании. Мы возьмем на себя все заботы по сопровождению кропотливого процесса ремонтных и строительных работ, привлечем лучших и проверенных специалистов, подрядчиков, поставщиков.

    Мы дорожим своим именем и репутацией, а главный наш приоритет — ваша полная удовлетворенность конечным результатом проделанных работ.
</p>
<br />
