
@{
    ViewBag.Title = "Contact";
}

<br />
<center><h3 class="header_style">Контактная информация</h3></center>
<br />

<address>
    ул.Анны Ахматовой,35<br />
    Киев, Украина<br />
    <abbr title="Phone">Номер телефона: +38 066-633-25-98</abbr>
</address>

<address>
    <strong>Служба поддержки:</strong>   <a href="mailto:Support@example.com">promax@gmail.com</a><br />
    <strong>Онлайн консультант:</strong> <a href="mailto:Marketing@example.com">promaxonline@example.com</a>
</address>

